<header>
  <nav style="display: flex; align-items: center; justify-content: space-between;">
    <img src="/assets/images/logo.png" alt="Vet Kennel Logo" class="logo" style="height: 72px;">
    <a class="site-title" style="font-size: 1.8em;" href="{{ '/' | relative_url }}">The Vet Kennel</a>
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; gap: 1em;">
      <li><a href="/notebook">Notebook</a></li>
      <li><a href="/library">Library</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
